@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

p{
    padding: 0.8rem 0;
}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.text-primary{
    color: #93cb52;
}

.text-center{
    text-align: center;
}

.l-heading{
    font-size: 4rem;
}

.m-heading{
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 0.75rem;
}

.s-heading{
    font-size: 1.5rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.lead{
    font-size: 1.2rem;
    margin: 1rem;
    line-height: 2rem;
}

.btn{
    padding: 0.8rem 2rem;
    background: #93cb52;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn:hover{
    background: green;
}

.btn-dark{
    background: #333;
    color: white;
}

.bg-dark{
    background: #333;
    color: white;
}

.py-1{ padding: 1.5rem 0; }
.py-2{ padding: 2rem 0; }
.py-3{ padding: 3rem 0; }

.p-1{ padding: 1.5rem; }
.p-2{ padding: 2rem; }
.p-3{ padding: 3rem; }

#navbar{
    background: #333;
    position: sticky;
    top: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#navbar ul li a{
    color: white;
    margin: 0 0.25rem;
    padding: 0.75rem;
}

#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}

#showcase{
    background: #333 url(../img/showcase.jpg) center center/cover no-repeat;
    height: 100vh;
    color: white;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;

    /* Overlay */
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}

#what .items{
    display: flex;
    padding: 1rem;
}

#what .items .item{
    padding: 1rem;
    text-align: center;
    flex: 1;
}

#what .items .item i{
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 50%;
}

#who{
    display: flex;
}

#who div{
    /* equal sides */
    flex: 1;
}

#who .who-img{
    background: url(../img/people.jpg) center center/cover no-repeat;
}

#who .who-content{
    text-align: justify;
}

#clients .items{
    display: flex;
}

#clients .items img{
    flex: 1;
    margin: auto;
    width: 60%;
}